################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pacman/Pacman/ClientApp/node_modules
/Pacman/.vs
/.vs
/Pacman/Pacman/ClientApp/dist/experimental/assets/fill
/Pacman/Pacman/ClientApp/dist/experimental/assets/animal
/Pacman/Pacman/ClientApp/dist/experimental/assets/outline
/Pacman/Pacman/ClientApp/dist/experimental/assets/twotone
/Pacman/Pacman/ClientApp/dist/experimental/styles.54e87d1099c6aec8fff6.css
/Pacman/Pacman/ClientApp/dist/experimental/runtime-es5.9ad22a88fcc70a015907.js
/Pacman/Pacman/ClientApp/dist/experimental/runtime-es2015.10a1f01eef199006286d.js
/Pacman/Pacman/ClientApp/dist/experimental/polyfills-es5.d695ed4eef144bc0f0ce.js
/Pacman/Pacman/ClientApp/dist/experimental/polyfills-es2015.1bd54b8d1453f7a2a10e.js
/Pacman/Pacman/ClientApp/dist/experimental/main-es5.0cc8e5183b7cecbffcec.js
/Pacman/Pacman/ClientApp/dist/experimental/main-es2015.a6cae372c627c4584c66.js
/Pacman/Pacman/ClientApp/dist/experimental/index.html
/Pacman/Pacman/ClientApp/dist/experimental/bg.8a316657dd54391b7f3d.jpg
/Pacman/Pacman/ClientApp/dist/experimental/3rdpartylicenses.txt
/Pacman/Pacman/wwwroot/PrintConnectionsSummary.aspx
